@import 'highlight.js/styles/github.css';
@import 'style.css';

:root {
  --mono-font:
    Menlo,
    Monaco,
    "Ubuntu Mono",
    "Consolas",
    "Lucida Console",
    "Liberation Mono",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Courier New",
    monospace,
    serif;

  --sans-font:
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html {
  background: #676767 url("./static/molecules.jpg") no-repeat bottom left;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  cursor: url("./static/pointer.png"), auto;
}

body {
  font-family: var(--mono-font);
}

::selection {
  background: hsla(60, 100%, 50%, 0.75); /* WebKit/Blink Browsers */
}

a {
  color: #fff;
  background-color: #000;
}

a, button, input {
    cursor: url("./static/hand.png"), auto !important
}

img {
  display: block;
  height: auto;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

main {
  background-color: hsla(360, 100%, 100%, 0.45);
  padding-top: 2em;
  padding-bottom: 1em;
  animation: fadein 1s;
  transform: translateZ(-10px);
}

footer {
  min-height: 1em;
}


